<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>


	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss SSS}|%p|%c{1}|%m%n" />
		</layout>
	</appender>

	<appender name="fileLogger" class="org.apache.log4j.RollingFileAppender">
		<!-- 设置日志输出文件名 -->
		<param name="File" value="${catalina.base}/logs/eSDK-Server.run.log" />
		<param name="ImmediateFlush" value="true"/> 
		<!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss SSS}|%p|%c{1}|%m%n" />
		</layout>
	</appender>
	
	<appender name="FILE1" class="org.apache.log4j.RollingFileAppender">
		<!-- 设置日志输出文件名 -->
		<param name="File" value="${catalina.base}/logs/interface_log/eSDK-Server.interface.log" />
		<param name="ImmediateFlush" value="true"/> 
		<!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss SSS}|%p|%m%n" />
		</layout>
	</appender>
	
	<appender name="FILE2" class="org.apache.log4j.RollingFileAppender">
		<!-- 设置日志输出文件名 -->
		<param name="File" value="${catalina.base}/logs/abnormalevent/abnormalevent.log" />
		<param name="ImmediateFlush" value="true"/> 
		<!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss SSS}|%p|%c{1}|%m%n" />
		</layout>
	</appender>
	
	<appender name="FILE3" class="org.apache.log4j.RollingFileAppender">
		<!-- 设置日志输出文件名 -->
		<param name="File" value="${catalina.base}/logs/eSDK-Server.SMSInOut.log" />
		<param name="ImmediateFlush" value="true"/> 
		<!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss SSS}]%X{level}:%m%n" />
		</layout>
	</appender>
	
	<appender name="FILE4" class="org.apache.log4j.RollingFileAppender">
		<!-- 设置日志输出文件名 -->
		<param name="File" value="${catalina.base}/logs/eSDK-Server.SMSSendError.log" />
		<param name="ImmediateFlush" value="true"/> 
		<!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss SSS}]%X{level}:%m%n" />
		</layout>
	</appender>
	
	<appender name="FILE5" class="org.apache.log4j.RollingFileAppender">
		<!-- 设置日志输出文件名 -->
		<param name="File" value="${catalina.base}/logs/eSDK-Server.SMSCount.log" />
		<param name="ImmediateFlush" value="true"/> 
		<!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss SSS}]%X{level}:%m%n" />
		</layout>
	</appender>


	<logger name="com.huawei.esdk.platform.log.InterfaceLog" additivity="false">
		<level value="INFO" />
		<appender-ref ref="FILE1" /> 
	</logger>
	
	<logger name="com.huawei.esdk.platform.abnormalevent.AbnormaleventManager" additivity="false">
		<level value="INFO" />
		<appender-ref ref="FILE2" /> 
	</logger>
	
	<logger name="SMSInout" additivity="false">
		<level value="INFO" />
		<appender-ref ref="FILE3" /> 
	</logger>
	
	<logger name="SMSSendError" additivity="false">
		<level value="INFO" />
		<appender-ref ref="FILE4" /> 
	</logger>
	
	<logger name="SMSCount" additivity="false">
		<level value="INFO" />
		<appender-ref ref="FILE5" /> 
	</logger>
	
	<logger name="org.apache.cxf" additivity="false">
		<level value="WARN" />
	</logger>
	
	<logger name="org.apache.directory" additivity="false">
		<level value="WARN" />
	</logger>
	
	<logger name="org.apache.mina" additivity="false">
		<level value="WARN" />
	</logger>
	
	<logger name="org.apache.commons.httpclient" additivity="false">
		<level value="WARN" />
	</logger>
	
	<logger name="httpclient.wire.header" additivity="false">
		<level value="WARN" />
	</logger>
	
	<logger name="httpclient.wire.content" additivity="false">
		<level value="WARN" />
	</logger>
	
	<logger name="org.apache.commons" additivity="false">
		<level value="INFO" />
	</logger>
	
	<logger name="org.quartz" additivity="false">
		<level value="INFO" />
	</logger>


	<!-- set rootlogger -->
	<root>
		<level value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="fileLogger" />
	</root>

</log4j:configuration>